<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
   <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
   
    </head>

  <body>

<nav class="navbar">
    <div class="left">
      {{#if user}}
        <div id="logo-box"><a   href="/{{user.username}}/profile"><img src="/images/microphone_logo.png" alt="" width="33"></a><h3>Mik it up</h3></div>
      {{else}}
        <div id="logo-box"><a   href="/"><img src="/images/microphone_logo.png" alt="" width="33"></a><h3 id="logo-text">Mik it up</h3></div>
      {{/if}}
    </div>
    <div class="right" id="session-btn">
       </select>
       {{#if user}}
        {{!-- <button type="button" class="btn btn-primary btn-lg"><a href="/{{user.username}}/profile">Profile</a>Large button</button> --}}
       {{!-- <button class="profile-button"><a href="/{{user.username}}/profile">Profile</a></button> --}}
        <button><a href="/{{user.username}}/logout">Logout</a></button>
        
       {{else}}
        <button><a href="/login">Login</a></button>
        
      {{/if}}
      {{!-- {{#if loggedOutUser}}
        <button><a href="/login">Login</a></button>
      {{/if}} --}}
        
</div>

    </div>
</nav>

    {{{body}}}
   {{!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
  </body>

</html>