<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>

  <body>

      <nav class="navbar">
            <div class="left">
              {{#if user}}
                <a href="/{{user.username}}/profile"><img src="/images/logo1.jpeg" alt=""></a>
              {{else}}
                <a href="/"><img src="/images/logo1.jpeg" alt=""></a>
              {{/if}}
            </div>
            <div class="right" id="session-btn">
               </select>
               {{#if user}}

               <button><a href="/{{user.username}}/profile">Profile</a></button>
                <button><a href="/{{user.username}}/logout">Logout</a></button>
                
               {{else}}
                <button><a href="/login">Login</a></button>
              {{/if}}
              {{!-- {{#if loggedOutUser}}
                <button><a href="/login">Login</a></button>
              {{/if}} --}}
                
            </div>
        </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>