<div id="party-body">

<div class="profile-menu">
<nav  class="navbar navbar-expand-lg navbar-light bg-dark">
    
    <nav class="navbar navbar-dark bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <ul class="navbar-nav">
        <li class="nav-item active">
        <a href="/{{username}}/profile" class="nav-link" >My profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a href="/{{username}}/edit" class="nav-link" >Edit profile</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/{{username}}/delete " method="get" action="/{{username}}/delete">Delete profile</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/{{username}}/logout" >Log out</a>
        </li>

     </ul>
    </div>
    


    </nav>  
    

</nav>

</div>

<div class="party-form-main">

<h2 style="color: rgb(239, 210, 163); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif " >Time to have fun </h2>

{{!-- FORM  --}}

<div class="party-form-box">

   <form  class="party-form-create" method="post" action="/{{username}}/create-party" enctype="multipart/form-data">

    <div class="form-row">
          <label for="name">Party name</label>
        <div class="col-sm-15">
           <input type="text" name="name" id="name" class="form-control" placeholder="Party name" />
        </div>
    </div>

    {{!-- <label for="creator">Creator</label> --}}
    <input type="text" name="creator" id="creator" value="{{username}}" hidden/>

    <div class="form-row">
            <label for="contributors">Contributors</label>

        <div class="col-sm-15">

            <select  name="contributors[]" id="contributors"  size="2"  class="js-example-basic-multiple" style="width:14vw; height:5vh; color:black" multiple="multiple">
    
            {{#each allUsers}}
            <option style="color: rgb(38, 37, 37) ;" value="{{this._id}}" >{{this.username}}</option>
            {{/each}}
             </select>

        </div>
    </div>


    <div class="custom-file">
        
        <input type='file' name='imageUrl' id='imageUrl' class='{{!-- form-control-file  --}}custom-file-input"' />
       <label for='imageUrl' class="custom-file-label">Choose a Party Image</label>
    </div>

   

        <button type='submit' class="btn btn-info" data-toggle="button" aria-pressed="false" autocomplete="off">Create Party</button>
        
        
            </form>
        </div>
    </div>
</div>

<script>$(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});</script>

