<h1>Edit your Party</h1>

<div>
<form  method="post" action="/{{username}}/edit-party" enctype="multipart/form-data">

<label for="name">Party name</label>
<input type="text" name="name" id="name" value="" />

<label for="creator">Creator</label>
<input type="text" name="creator" id="creator" value="{{username}}" hidden/>



<label for="contributors">Add new contributors</label>

<select  name="contributors[]" id="contributors"  size="2"  class="js-example-basic-multiple" multiple="multiple">
    {{#each allUsers}}
    <option value="{{this._id}}" >{{this.username}}</option>
    {{/each}}
</select>


<div>
<label for='imageUrl'>Party Image</label>
<input type='file' name='imageUrl' id='imageUrl' class='form-control-file' />
 <input type='text' name='previousUrl' value='{{party.imageUrl}}' hidden />
<img src="{{user.imageUrl}}" alt="">
</div>

 <button type='submit' class='btn btn-primary'>Create Party!</button>

</form>
</div>