<H1>{{data.party.name}}</H1>

<form action="/{{data.party.creator}}/party/{{data.party.name}}" method="get">
<label for="search">Find your song</label>
<input type="text" name="search" id="search" value="" >
{{!-- <input type="text" name="partyId" value="{{party._id}}" hidden> --}}


<button type="submit">search</button>

</form>

{{!-- PARTY PLAYLIST GOES HERE  --}}
<div>
{{#each data.songQuery}}

<li>{{this.snippet.title}}</li>

<form action="/add-song/{{this.id.videoId}}/{{../data.party._id}}/{{this.snippet.title}}" method="post" id="{{this.id.videoId}}" >
<input type="text" name="songId" value="{{this.id.videoId}}" hidden>
<input type="text" name="'songTitle" value="{{this.snippet.title}}" id="songTitle" hidden>
<button type="Submit" >Add</button>
</form>
{{/each}}

</div>


<div id="playlist">

<h2>{{data.party.name}} playlist</h2>

<form action="/{{data.party.name}}/karaoke" method="get">
<a href="/{{data.party.name}}/karaoke"><img src="/images/play (1).png" alt="" width="25"></a>
<input type="text" id="partyName" value="{{data.party.name}}" hidden>
<button type="submit">Start Karaoke!</button>
</form>

<div id="playlist-songs">
{{#each data.party.songs}}

<li>{{this.title}}</li>

{{/each}}

</div>
</div>

