<div id="profile-body">

{{!-- PROFILE MENU --}}    

<div class="profile-menu">
{{#if response.name}}
<h1>Hello {{response.name}}!</h1>
{{else}}
<h1>Hello {{response.username}}!</h1>
{{/if}}

{{#if response.imageUrl}}
<img src="{{response.imageUrl}}" alt="" width="50"/>

{{else}}
<img src="/images/party_default.jpeg" alt="" width="50"/>
{{/if}}
</div>

<div>
    
    <a href="/{{username}}/edit " >Edit profile</a>
    <a href="/{{username}}/delete " method="get" action="/{{username}}/delete">Delete profile</a>
    <a href="/{{username}}/logout " >Log out</a>

</div>

<section id="user-parties" class="profile-container">

<div class="profile-parties-menu">

<h3>Your Parties</h3>


<img src="/images/add.png" alt="" width="20"/>
<a href="/{{username}}/create-party " >New party</a>

</div>

<div class="party-card">
    {{#unless response.parties}}
    <p>No parties yet!</p>
    {{/unless}}
    {{#each response.parties}}
    <a href="/{{../response.username}}/party/{{this.name}}"><img src="{{this.imageUrl}}" alt="" width="50"/></a>
    <a href="/{{../response.username}}/party/{{this.name}}"><h6>{{this.name}}</h6></a>
    {{/each}}
</div>

</section>

</div>


   
    
