<div class='container'>

  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-md-6'>

        <h1>Edit {{user.username}}</h1>

        <hr />

        <form action='/{{user.username}}/edit' method='POST' enctype="multipart/form-data">
          <label>
            Username
            <input type='text' name='username' value='{{user.username}}' id="username"/>
          </label>

          <label>
            Email
            <input type='email' name='email' value='{{user.email}}' id="email" />
          </label>

          <label>
            Name
            <input type='text' name='name' value='{{user.name}}' id="name" />
          </label>

           <label>
            Last Name
            <input type='text' name='last_name' value='{{user.last_name}}' id="last_name" />
          </label>

          <label>
            New Password
            <input type='text' name='password' value='' id="password" />
          </label>

          <div>
            <label for='imageUrl'>Profile Image</label>
            <input type='file' name='imageUrl' id='imageUrl' class="" />
            <input type='text' name='previousUrl' value='{{user.imageUrl}}' hidden />
            <img src="{{user.imageUrl}}" alt="">
          </div>

          
          <button href="" type="submit">Edit</button>
        </form>

      </div>
    </div>
  </div>

</div>