<div id="profile-body">

{{!-- PROFILE MENU --}}    


<div class="profile-menu">

<nav  class="navbar navbar-expand-lg navbar-light bg-dark">
    
    <nav class="navbar navbar-dark bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <ul class="navbar-nav">
        <li class="nav-item active">
        <a href="/{{username}}/profile" class="nav-link" >My profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a href="/{{username}}/edit" class="nav-link" >Edit profile</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/{{username}}/delete " method="get" action="/{{username}}/delete">Delete profile</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/{{username}}/logout" >Log out</a>
        </li>

     </ul>
    </div>
    


    </nav>  
    

</nav>

<div class="profile-title">

{{#if response.imageUrl}}
<img class="profile-img" src="{{response.imageUrl}}" alt="" width="50"/>

{{else}}
<img class="profile-img" src="/images/party_default.jpeg" alt="" width="50"/>
{{/if}}

{{#if response.name}}
<h1>Hello {{response.name}}!</h1>
{{else}}
<h1>Hello {{response.username}}!</h1>
{{/if}}

</div>




</div>

{{!-- PARTIES SECTION HERE --}}

<section id="user-parties" class="profile-container">

<div class="profile-parties-menu">

<h3>Choose your party</h3>

<div style="display: flex; margin:1vw;" >
<a href="/{{username}}/create-party " ><img src="/images/plus_yellow.png" alt="" width="20"/></a>
<p style="margin-left: 1vw;">New party</p>
</div>

</div>

{{!-- <div class="row row-cols-1 row-cols-md-2 g-4">
<div class="col"> --}}

    
       

    <div class="profile-parties-card">

         {{#unless response.parties}}
        <p>No parties yet!</p>
        {{/unless}}

        {{#each response.parties}}
    
        <div class="card border-light text-white bg-transparent mb-4" style="max-width: 15rem;">
                <a  href="/{{../response.username}}/party/{{this.name}}"><img class="card-img-top" src="{{this.imageUrl}}" alt="" width="50"/></a>
            <div class="card-body">
                <a  href="/{{../response.username}}/party/{{this.name}}"><h4 class="card-title">{{this.name}}</h6></a>
                <p class="card-text">Created by {{this.creator}}</p>
            </div>
        </div>

        {{/each}}
    </div>

{{!-- </div>
</div> --}}

</section>

</div>



   
    
