<div id="profile-body">

{{!-- PROFILE MENU --}}    


<div class="profile-menu">

<nav  class="navbar navbar-expand-lg navbar-light bg-dark">
    
    <nav class="navbar navbar-dark bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <ul class="navbar-nav">
        <li class="nav-item active">
        <a href="/{{username}}/edit" class="nav-link" >Edit profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/{{username}}/delete " method="get" action="/{{username}}/delete">Delete profile</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/{{username}}/logout" >Log out</a>
        </li>

     </ul>
    </div>
    


    </nav>  
    

</nav>

<div class="profile-title">

{{#if response.imageUrl}}
<img class="profile-img" src="{{response.imageUrl}}" alt="" width="50"/>

{{else}}
<img class="profile-img" src="/images/party_default.jpeg" alt="" width="50"/>
{{/if}}

{{#if response.name}}
<h1>Hello {{response.name}}!</h1>
{{else}}
<h1>Hello {{response.username}}!</h1>
{{/if}}

</div>




</div>

{{!-- PARTIES SECTION HERE --}}

<section id="user-parties" class="profile-container">

<div class="profile-parties-menu">

<h3>Your Parties</h3>


<img src="/images/add.png" alt="" width="20"/>
<a href="/{{username}}/create-party " >New party</a>

</div>

<div class="party-card">
    {{#unless response.parties}}
    <p>No parties yet!</p>
    {{/unless}}
    {{#each response.parties}}
    <a href="/{{../response.username}}/party/{{this.name}}"><img src="{{this.imageUrl}}" alt="" width="50"/></a>
    <a href="/{{../response.username}}/party/{{this.name}}"><h6>{{this.name}}</h6></a>
    {{/each}}
</div>

</section>

</div>



   
    
